
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kaos</title>
</head>
<body>
    <div>
        <p>Välj ett alternativ från listan</p>
        <select>
            <option value="1">Ettan</option>
            <option value="2">Tvåan</option>
            <option value="3">Trean</option>
        </select>
        <input type="submit" id="btnExamples"> 
    </div>
</body>
</html>
