
@{
    ViewBag.Title = "Knas";
}

<h2>Knas</h2>

<div class="row">
    <div class="col-xs-12 col-md-8">input type="text" id="tbxUserName" <br/>
        input type="submit" value="Visa vad som händer" id="btnChangeHtml"</div>
    <div class="col-xs-6 col-md-4">Textruta för användarnamn <br/> Knapp</div>
</div>
<p>
    
    
</p>
