
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<form action="/Home/Login" method="post">
    <h4>Email</h4> @Html.TextBox("LoginEmail")
    <h4>Lösenord</h4> @Html.TextBox("LoginPassword")
<input type="submit" value="Logga in" />
    </form>


